* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Biryani',
    sans-serif;
}

body {
    background-color: $backgroundColor;
    font-size: 14px;
    font-size: 1.4rem;
}

h1 {
    text-align: center;
    padding:20px;
    font-size: 24px;
    font-size: 2.4rem;
}

i {
    width: 26px;
}

ul {
    list-style-type: none;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $navbarColor;
}

a:hover,
a:active,
a:link,
a:visited {
    color: red;
    text-decoration-color: black;
}

.card {
    text-align: center;
    font-size: 22px;
    margin: 5px;
}