<li class="dropdown pc-menu">
  <a id="user-settings" class="dropdown-toggle" data-toggle="dropdown" href="#">
 
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu">

  </ul>
</li>

  <ul class="mobile-menu" role='menu'>
<li>
  
</li>
<li class="mobile-menu">
  
</li>
<li class="mobile-menu">
  
</li>
<li class="mobile-menu">
  
</li>
</ul>
